*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.header{
  width: 100%;
  height: 100vh;
  /* background-image: url(../img/school1.jpg); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1 !important;
}
.headerh{
  color:white;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 150px;
}
.heading p{
  color:white;
  font-weight: 800;
}
.tadbirlar{
  text-align: center !important;
  padding-top: 100px;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.tadbirCard{
  width: 31% !important;
  height: max-content;
  margin:1% !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  background-color: white;
  margin-top: 60px !important;
  margin-bottom: 20px;
}
.video{
  text-align: center;
  padding-top: 80px;
}
.new{
  width: 100%;
  height: 60px;
  display: flex;
  font-size: 16px;
  color: #666A6F;
  margin-bottom: 20px;
}
.new p{
  cursor: pointer;
  transition: 0.3s;
}
.new p:hover{
  color: #1EB2A6;
}
.new_img{
  width: 22%;
  height: 100%;
  transform: translate(0, 15%)
}
.new_img img{
  border-radius: 5px;
  width: 80%;
  height: 85%;
  object-fit: cover;
}
.new_text{
  width: 78%;
}
.video h2{
  display: inline-block;
  position: relative;
}
.video h2::after{
  content: '';
  position: absolute;
  top: 140%;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color:#1EB2A6
}
.tadbirlar h2{
  display: inline-block;
  position: relative;
}
.tadbirlar h2::after{
  content: '';
  position: absolute;
  top: 140%;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color:#1EB2A6
}
.loader{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100vh;
  background-color: white;
}
.hamkorlar{
  /* margin-top: 60px; */
  text-align: center;
}
.hamkor{
  display: flex !important;
  justify-content: center !important;
  align-items:center !important;
  flex-direction: column !important;
  padding: 20px !important;
}
.hamkor p{
  color:rgba(0, 0, 0, 0.6)
}
.imgHamkor{
  width: 100px;
  height: 100px;
  border:1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamkorlar h2{
  display: inline-block;
  position: relative;
}
.hamkorlar h2::after{
  content: '';
  position: absolute;
  top: 140%;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color:#1EB2A6
}
.form{
  padding:30px !important;
}
.form h2{
  display: inline-block;
  position: relative;
  font-size: 25px;
}
.form h2::after{
  content: '';
  position: absolute;
  top: 140%;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color:#1EB2A6
}
.address{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px !important;
}
.address div{
  width: 20% !important;
}
.video1{
   width: 100%;
   height: 440px !important;
   padding-top: 70px;
}
.buttoncha{
  display: block;
  margin:20px auto !important;
  padding:10px 30px;
  background-color:#1EB2A6;
  color:white;
  border:1px solid #1EB2A6;
}
.buttoncha:hover{
  background-color:white;
  color:#1EB2A6;
  border:1px solid #1EB2A6;
}
.tadbirView{
  display: inline-block;
  margin:0 auto;
  border:1px solid #1EB2A6;
  color:white;
  background-color:#1EB2A6;
  padding:10px 30px;
  margin-top: 20px;
}
.tadbirView:hover{
  background-color:white;
  color:#1EB2A6;
}
.successful{
  text-align: center;
  padding-top: 60px;
  /* padding: 60px 100px; */
  background-color:#F8F8F8;

}
.successful h1{
  font-size: 30px;
  line-height: 1.6;
  position: relative;
  display: inline-block;
}
.successful h1::after{
  content:'';
  position: absolute;
  top: 110%;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color:#1EB2A6;
}
.slider{
  width: 340px !important;
  height: 300px;
  margin:20px 20px;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column !important;
  color: #1EB2A6;
  font-size: 25px;
}
.ustozCard{
  width: 90% !important;
  display:flex;
  flex-direction: column !important;

}
.card{
  display: flex !important;
  flex-direction: row !important;
  margin-top: 50px !important;
  border-radius: 5px !important;
  border:1px solid #1EB2A6 !important;
  width: 100% !important;
  height: 200px !important;

}
.linkHover:hover{
  color:black !important
}
.fotolavha{
  width: 100%;
  height: 90vh ;
  display: flex;
  align-items: center;
}
.foto_col{
  overflow: hidden;

}
.foto_col img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 1s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}

.foto_col:hover img {

  filter: brightness(100%);
  transform: scale(1.3);
}
@media screen and (max-width:767px) {
  .tadbirCard{
    width: 100% !important;
  }
}
@media screen and (min-width:768px) {
  .tadbirCard{
    height: 450px !important;
  }
}

@media screen and (max-width:400px) {
  .counter div{
      width: 100% !important;
  }
  .successful{
      text-align: center;
      padding-top: 60px;
      padding: 60px 30px;
      background-color:#F8F8F8
  }
  .successful h1{
      font-size: 30px;
      line-height: 1.6;
  }
  .slider{
      width: 90% !important;
      height: max-content;
      margin:20px 20px;  
  }
  .ustozDown{
    height: max-content !important;
  }
  .card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    border-radius: 5px;
    border:1px solid #1EB2A6;
    width: 100%;

}
.fotolavha{
  height: auto;
  margin: 30px 0px;
}

}
@media screen and (max-width:768px) {
  .successful{
      text-align: center;
      padding-top: 60px;
      padding: 60px 30px;
      background-color:#F8F8F8
  }
  .successful h1{
      font-size: 30px;
      line-height: 1.6;
  }
  .slider{
      width: 90% !important;
      height: max-content;
      margin:20px 20px; 
      padding: 20px; 
  }
  .ustozDown{
    height: max-content !important;
  }
  .fotolavha{
    height: auto;
    margin: 30px 0px;
  }
  
  
}
@media screen and (max-width:992px) {
  .successful{
      text-align: center;
      padding-top: 60px;
      padding: 60px 30px;
      background-color:#F8F8F8
  }
  .successful h1{
      font-size: 30px;
      line-height: 1.6;
  }
  .slider{
      width: 90% !important;
      height: max-content;
      margin:20px 20px; 
      padding: 20px; 
  }
  .ustozDown{
    height: 250px !important;
  }
  .card{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 50px;
      border-radius: 5px;
      border:1px solid #1EB2A6;
      width: 100%;
  
  }
  .fotolavha{
    height: auto;
    margin: 30px 0px;
  }
.fotolavha h5{
  font-size: 20px !important;
}  
}
@media screen and (min-width:992px) {
  .successful{
      text-align: center;
      padding-top: 60px;
      padding: 60px 30px;
      background-color:#F8F8F8
  }
  .successful h1{
      font-size: 30px;
      line-height: 1.6;
  }
  .slider{
      width: 90% !important;
      height: max-content;
      margin:20px 20px; 
      padding: 20px; 
  }
  .ustozDown{
    height: 250px !important;
  }
  .card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    border-radius: 5px;
    border:1px solid #1EB2A6;
    width: 100%;

}
}


@media screen and (max-width:400px) {
  .heading{
  width: 90%;
  }
  .heading p{
      z-index: 1 !important; 
  }
  .contact{
      width: 90%;
      margin-left: 5%;
  }
  .address{
      display: flex;
      flex-direction: column;
      margin-top: 50px !important;
  }
  .address div{
      width: 100% !important;
  }

}
@media screen and (max-width:768px) {
  .heading{
  width: 90%;
  }
  .heading p{
      z-index: 1 !important; 
  }

}
@media screen and (max-width:992px) {
  .heading{
  width: 90%;
  }
  .heading p{
      z-index: 1 !important; 
  }
  .fotolavha h5{
    font-size: 18px !important;
  } 
}
@media screen and (max-width:1200px) {
  .heading{
  width: 350px;
  }
  .heading p{
      z-index: 1 !important; 
  }

}