*{
    padding: 0;
    margin:0;
    box-sizing: border-box !important;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/school1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items:center
}
.header h1{
    color:white;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
}
.benefits{
    width: 100%;
    background-color: #F8F8F8;
    height: max-content !important;
}
.benefits h1{
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #22B4A8;
}
.secondText {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
  }
.card{
    background-color: #FFFFFF;
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin-bottom: 30px;
    transition: all 0.5s;
}
.card:hover{
    background-color: #22B4A8;
}
.card:hover h4{
    color:white !important
}
.card:hover p{
    color:white !important
}
.counter{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.successful{
    text-align: center;
    padding-top: 60px;
    padding: 60px 100px;
    background-color:#F8F8F8
}
.successful h1{
    font-size: 30px;
    line-height: 1.6;
}
.slider{
    width: 340px !important;
    height: 300px;
    margin:20px 20px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
    color: #1EB2A6;
    font-size: 25px;
}
.imgTadbir{
    width:100% !important;
    height: 300px !important;
    
}
.panoramic {
    margin-top: 0px !important;
    padding: 0;
    width: 100%;
    height: 450px;
    background-image: url(../img/13.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .ph2{
    font-size: 20px !important;
  }
  .ph4{
    font-size: 17px !important;
    padding:10px !important ;
  }
  .paramumic_data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paramumic_data div {
    height: 80%;
    margin: auto 0;
  }
  .paramumic_data .ph2,
  .paramumic_data .ph4 {
    padding: 10px;
    margin: 40px 0;
    height: max-content !important;
    overflow-y: hidden;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    font-size: 40px;
    text-align: center;
    font-family: "Lobster", cursive;
  }
  .paramumic_data .ph2 {
    align-self: flex-start;
  }
  .PannellumReactContainer {
    position: relative;
  }
  .cardLink{
      margin-top: 100px;

  }
  .imgLink{
      width: 100%;
      height: 300px;
      position: relative;
      border:1px solid #22B4A8;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .cardTextOne{
      width: 40%;
      background-color:white;
      padding:2%;
      border-left:1px solid #22B4A8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      text-align: center;
  }
  .director img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
  }
  .director {
      margin-top: 50px !important;
    text-align: left !important;
  }
  .director p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-align: left !important;
  }
  .director h1 {
    font-family: "Lobster", cursive;
    font-weight: 400 !important;
    margin-top: 30px;
    color: white;
    font-size: 30px !important;
  }
@media screen and (max-width:566px) {
    .header{
        text-align: center;
    }
    .benefits{
        width: 100%;
        height: max-content !important;
        background-color: #F8F8F8;
    }
    .benefits h1{
        margin-top: 30px;
    }
    .counter{
     flex-wrap: wrap;
     padding: 20px;
     height: max-content;
    }
    .counter div{
        width: 100% !important;
    }
    .successful{
        text-align: center;
        padding-top: 60px;
        padding: 60px 30px;
        background-color:#F8F8F8
    }
    .successful h1{
        font-size: 30px;
        line-height: 1.6;
    }
    .slider{
        width: 90% !important;
        height: max-content;
        margin:20px 20px;  
    }
    .imgTadbir{
        margin-bottom: 20px !important;
        
    }
    .ph2{
        font-size: 23px !important;
      }
      .ph4{
        font-size: 18px !important;
      }
      .imgLink{
          height: max-content;
      }
      .imgLink img{
          width: 100% !important;
      }
      .cardTextOne{
          width: 100%;
          height: max-content;
      }
}
@media screen and (min-width:567px) {
    .header{
        text-align: center;
    }
    .benefits{
        width: 100%;
        background-color: #F8F8F8;
    }
    .benefits h1{
        margin-top: 30px;
    }
    .counter{
     flex-wrap: wrap;
     padding: 20px;
     height: max-content;
    }
    .counter div{
        width: 100% !important;
    }
    .successful{
        text-align: center;
        padding-top: 60px;
        padding: 60px 30px;
        background-color:#F8F8F8
    }
    .successful h1{
        font-size: 30px;
        line-height: 1.6;
    }
    .slider{
        width: 90% !important;
        height: max-content;
        margin:20px 20px; 
        padding: 20px; 
    }
    .imgTadbir{
        height: 280px !important;
        margin-bottom: 20px !important;
        
    }
    .ph2{
        font-size: 25px !important;
      }
      .ph4{
        font-size: 20px !important;
      }
      .director img {
        height: 500px;
      }
      .imgLink{
          height: 350px;
      }
}
@media screen and (min-width:993px) {
    .header{
        text-align: center;
    }
    .benefits{
        width: 100%;
        background-color: #F8F8F8;
    }
    .benefits h1{
        margin-top: 30px;
    }
    .counter{
     flex-wrap: wrap;
     padding: 20px;
     height: max-content;
    }
    .counter div{
        width: 50% !important;
    }
    .successful{
        text-align: center;
        padding-top: 60px;
        padding: 60px 30px;
        background-color:#F8F8F8
    }
    .successful h1{
        font-size: 30px;
        line-height: 1.6;
    }
    .slider{
        width: 90% !important;
        height: max-content;
        margin:20px 20px; 
        padding: 20px; 
    }
    .imgTadbir{
        height: 280px !important;
        margin-bottom: 20px !important;
        
    }
    .ph2{
        font-size: 30px !important;
      }
      .ph4{
        font-size: 23px !important;
      }
}
@media screen and (min-width:1200px) {
    .header{
        text-align: center;
    }
    .benefits{
        width: 100%;
        background-color: #F8F8F8;
    }
    .benefits h1{
        margin-top: 30px;
    }
        .counter{
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-image:url(../img/school1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    .successful{
        text-align: center;
        padding-top: 60px;
        padding: 60px 30px;
        background-color:#F8F8F8
    }
    .successful h1{
        font-size: 30px;
        line-height: 1.6;
    }
    .slider{
        width: 90% !important;
        height: max-content;
        margin:20px 20px; 
        padding: 20px; 
    }
    .imgTadbir{
        height: 300px !important;
        margin-bottom: 20px !important;
        
    }
    .ph2{
        font-size: 30px !important;
      }
      .ph4{
        font-size: 25px !important;
      }
      .director img {
        width: 100% !important;
        height: 100%;
      }
      .imgLink{
          height: 300px;
      }
}
