*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/school1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items:center
}
.header h1{
    color:white;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
}
.news{
    position: relative !important;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#ECF0F5;

}
.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
    color: #1EB2A6;
    font-size: 25px;
}
.btnNews:hover{
 color:#1EB2A6 !important;
 background-color:white !important; 
}
.headerh {
    position: absolute;
    top: 15% !important;
    left: 50%;
    z-index: 111111 !important;
  }
  .headerImage {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(40%);
    z-index: -2 !important;
  }

  @media screen and (max-width: 400px) {
    .headerh {
      display: none !important;
    }
    .header h1{
      font-size:25px !important;
    }
    .alochilar {
      width: 100%;
      height: max-content !important;
      background-color: #f8f8f8;
      text-align: center !important;
      padding: 50px 60px;
    }
    .card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 50px;
      border-radius: 5px;
      border: 1px solid #1eb2a6;
      width: 100%;
      height: max-content !important;
    }
    .cardImg {
      width: 100% !important;
    }
    .cardText {
      width: 100% !important;
    }
  
    .cardText h5 {
      font-size: 20px;
    }
    .headerImage{
        width: 100%;
        height: 300px;
        position: relative !important;
      }
  }
  @media screen and (max-width: 767px) {
    .headerh {
      display: none !important;
    }
    .alochilar {
      width: 100%;
      height: max-content !important;
      background-color: #f8f8f8;
      text-align: center !important;
      padding: 50px 60px;
    }
    .card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 50px;
      border-radius: 5px;
      border: 1px solid #1eb2a6;
      width: 100%;
      height: max-content !important;
    }
    .cardImg {
      width: 100% !important;
    }
    .cardText {
      width: 100% !important;
    }
    .headerImage{
        width: 100%;
        height: 400px;
        position: relative !important;
      }
      .header h1{
        font-size: 30px !important;
      }
  }
  @media screen and (min-width: 769px) {
    .headerImage{
        width: 100%;
        height: 100vh;
      }
    .headerh {
      color: white;
      top: 70vh !important;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px !important;
    }
    .alochilar {
      width: 100%;
      background-color: #f8f8f8;
      text-align: center !important;
      padding: 50px 60px;
    }
    .card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 50px;
      border-radius: 5px;
      border: 1px solid #1eb2a6;
      width: 100%;
      height: max-content !important;
    }
    .cardImg {
      width: 50%;
    }
    .cardText {
      width: 50%;
    }
    .header h1{
      font-size: 30px !important;
    }
  }
  @media screen and (min-width: 993px) {
    .headerh {
      color: white;
      top: 70vh !important;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px !important;
    }
    .alochilar {
      width: 100%;
      background-color: #f8f8f8;
      text-align: center !important;
      padding: 50px 60px;
    }
    .headerImage {
        width: 100%;
        object-fit: cover;
        filter: brightness(40%);
        z-index: 5 !important;
      }
    .card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 50px;
      border-radius: 5px;
      border: 1px solid #1eb2a6;
      width: 100%;
    }
    .cardImg {
      width: 40%;
    }
    .cardText {
      width: 60%;
    }
    .header h1{
      font-size: 40px !important;
    }
  }
  