.pagination {
    margin:  1% 7%;
    display: flex;
    list-style: none;
    outline: none;
    margin-bottom: 50px;
    background-color:#F8F8F8 !important
  }
  .pagination > .active > a{
    background-color: #1EB2A6;
    border-color: #1EB2A6 ;
    color: #fff !important;
  }
  .pagination > li > a{
    border: 1px solid #1EB2A6;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #1EB2A6 ;
    border-color: #1EB2A6;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #1EB2A6
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
